.wrapper {
	width: 70vw;
	height: 80vh;
	background-color: #fff;
	position: fixed;
	top: 50;
	transform: translateY(-50);
	margin: 0 auto;
	left: 0;
	right: 0;
	box-shadow: (0 20px 40px -10px rgba(#818181, 0.5));
}
